.detail {
  position: fixed;
  height: 40vh;
  padding-top: 60vh;
  top: 0;
  right: 0;
  width: 0;
  background-color: $blue;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 99;
  transition: all .7s ease-in-out;

  &.visible {
    width: 100vw;
    left: 0;
    transition: all .7s ease-in-out;
  }

  & > img:first-of-type {
      position: absolute;
      top: 30px;
      right: 30px;
      width: 50px;
      transition: all .3s ease-in-out;

      &:hover {
        transform: rotate(-90deg);
        transition: all .3s ease;
        cursor: pointer;
      }
    }

  & > div {
    width: calc( 100vw - 20vw);
    height: 100%;
    padding: 0 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    div:first-of-type {
      position: relative;

      img:first-of-type {
        max-width: calc(250px + 80px);
        padding: 0 40px;
      }

      img:nth-of-type(2) {
        position: absolute;
        left: 35.5%;
        top: 50%;
        width: 130px;
      }
    }

    div:nth-of-type(2) {
      h2 {
        margin: 0;
        font-size: 3em;
      }

      h2:nth-of-type(2) {
        margin-top: 5vh;
        margin-bottom: 2vh;
        font-size: 2em;
      }

      p {
        opacity: 0.8;
        text-align: left;
      }

      ul {
        li {
          background-color: $blue;
          margin-right: 10px;
        }

        &.sec {
          .organic {
            display: inline;
            text-align: center;

            img {
              width: 15px;
            }
          }
        }
      }
    }
  }
}

#map {
  height: 250px;
}
