h1, h2, h3, h4, h5, h6 {
  font-family: raleway, arial, sans-serif;
}

p {
  font-family: roboto, arial, sans-serif;
  line-height: 1.5em;
}

ul, li {
  font-family: roboto, arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
}
